.ant-space .ant-layout-content {
  height: calc(100vh - 129px);
  line-height: 60px !important;
  overflow: auto;
}

.todolist-wrapper h1 {
  height: 60px;
  line-height: 60px;
  margin: 0;
}

.search-wrapper {
  width: 60%;
  margin: auto;
  margin-top: 30px;
}

.search-wrapper label {
  margin-right: 8px;
}

.add-item-wrapper {
  width: 90%;
  margin: auto;
}

.add-item-wrapper .ant-picker {
  width: 35% !important;
}

.ant-list-item-content .date {
  position: absolute;
  right: 200px;
}

.ant-list-item-content .author {
  position: absolute;
  right: 300px;
}